{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title has-text-white">Rejestracja</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. Idź do
      <a href="{{ url_for('auth.login') }}">strony logowania</a>.
    </div>
    {% endif %} {% endwith %}
    <form method="POST" action="/signup">
      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="email"
            name="email"
            placeholder="E-mail"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="name"
            placeholder="Nazwa"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="password"
            name="password"
            placeholder="Hasło"
          />
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">
        Przejdź do wykonania zdjęć
      </button>
    </form>
  </div>
</div>
{% endblock %}
